@import "~bulma/bulma";

// Variables

// bulma overrides
.section {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-inline: 28px;
  & > *:not(:first-child) {
    padding-top: 20px;
  }
  & > *:not(:last-child) {
    padding-bottom: 20px;
  }
}

.title:not(:last-child) {
  margin-bottom: 20px;
}

// Main layout: desktop
@media screen and (min-width: $desktop) {
  // vif-map on the left,
  // vif-panel on the right, scrolling its content,
  // vif-detail in the top-left corner.

  .vif-main {
    display: grid;
    grid-template-columns: 1fr 390px;
    position: relative;
  }

  .vif-map {
    height: 100vh;
    width: 100%;
  }

  .vif-panel {
    height: 100vh;
    overflow: scroll;
    border-left: solid 1px #d8d7d3;
  }

  .vif-global-stats {
    > * {
      padding-top: 20px;
    }
    > :nth-child(2) {
      order: -1;
    }
  }

  .vif-detail {
    position: absolute;
    top: 32px;
    left: 32px;
  }
}

// Main layout: mobile
@media screen and (max-width: $desktop) {
  // vif-map at the top,
  // vif-panel below,
  // vif-detail above vif-panel.

  .vif-map {
    height: 55vh;
    width: 100%;
  }

  .vif-panel {
    border-top: solid 1px #d8d7d3;
    position: relative;
  }

  .vif-panel > *:first-child {
    padding-top: 0;
    margin-top: -29px;
  }

  .vif-detail {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

// Element: Panel

.vif-container {
  max-width: 300px;
  margin-inline: auto;
}

.vif-container--narrow {
  max-width: 250px;

  & > * {
    max-width: 215px;
    margin-inline: auto;
  }
}

.vif-border-top {
  border-top: solid 1px #c3c1b9;
}

// Element: Detail
.vif-detail {
  width: 358px;
  max-width: 96vw;
  border-radius: 20px;
  z-index: 1000;
  background: white;
  padding: 0;
  border: solid 0 #979797;
  box-shadow:
    0 4px 8px #3e73a139,
    0 6px 24px #3e73a137;
}

.vif-detail-header {
  position: relative;
  background-color: #f7f7f7;
  height: 64px;
  border-bottom: solid 0 #9f9e9e;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-inline: 20px;
}

.vif-detail-header--segment {
  margin-bottom: 0;
  justify-content: start;
}

.vif-detail-header--route {
  margin-bottom: 56px;
  justify-content: center;
  .route-code--large {
    transform: translateY(50%);
  }
}

.vif-detail-content {
  max-width: 300px;
  margin-inline: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.vif-detail--close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  border: solid 1px #cfcfcf;
  border-radius: 24px;
  background-color: white;
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symboles' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Shape' fill='%23000000' points='6.41421356 5 12.0710678 10.6568542 17.7279221 5 19.1421356 6.41421356 13.4852814 12.0710678 19.1421356 17.7279221 17.7279221 19.1421356 12.0710678 13.4852814 6.41421356 19.1421356 5 17.7279221 10.6568542 12.0710678 5 6.41421356'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
  padding: 7px;
}

.vif-detail--close-button:hover {
  background-color: #eee;
}

// Component: global-stats
.vif-global-stats {
  display: flex;
  flex-flow: column;
  > * {
    width: 100%;
  }
}

// Component: Route
.route-code {
  font-weight: 700;
  color: black;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  --route-color-V1: #e0041b;
  --route-color-V2: #fdce00;
  --route-color-V3: #02804d;
  --route-color-V4: #0263af;
  --route-color-V5: #bf4393;
  --route-color-V6: #d5c700;
  --route-color-V7: #99d3e1;
  --route-color-V8: #642383;
  --route-color-V9: #f18c42;
  --route-color-V10: #f3a5ba;
  --route-color-V20: #8c5c2a;
  position: relative;
  &:before,
  &:after {
    border: solid;
    border-color: var(--route-color);
    border-radius: 4px;
    position: absolute;
    width: 80%;
    content: "";
  }
  &:before {
    top: 10%;
  }
  &:after {
    bottom: 10%;
  }
}

.route-code--small {
  font-size: 1rem;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  &:before,
  &:after {
    border-width: 1.5px;
  }
}

.route-code--large {
  border-radius: 8px;
  border: solid 2px #d7e0e3;
  font-size: 1.8rem;
  width: 56px;
  height: 56px;
  &:before,
  &:after {
    border-width: 2px;
  }
}

// Component: RouteList
.route-list {
  background-color: RGBA(0, 138, 172, 0.07);
}

.route-list-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}

.route-button {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  background-color: #fafafa;
  border: solid 1px #c3cbcc;
  outline: 5px solid RGBA(0, 0, 0, 0.03);
  padding: 0;
}

.route-button:hover {
  border: solid 1px RGBA(74, 210, 255, 0.42);
  outline: 5px solid RGBA(0, 130, 173, 0.13);
}

.route-button:active {
  border: solid 1px RGB(0, 130, 173);
  outline: 5px solid RGBA(0, 130, 173, 0.13);
}

.route-button[aria-pressed="true"] {
  border: solid 1px #7c8c8f;
}

// Component: Progress Bar
.progress-bar {
  height: 46px;
  border-radius: 29px;
  border: solid 6px #eaeae5;
  box-sizing: content-box;  
}

.progress-bar--parts {
  display: flex;
  flex-direction: row;
  clip-path: inset(0% 0% round 29px);
}

@media screen and (max-width: $desktop) {
  // Tweak the main progress bar border on mobile
  .vif-global-stats .progress-bar {
    border-color: #f1ede2;
    outline: solid 1px #ddd;
  }
}

.progress-bar-part {
  flex-grow: 1;
  margin: 0;
  height: 46px;
}

.progress-bar--pointer {
  margin-inline: 6px;
}

.progress-bar--arrow {
  width: 17px;
  height: 8px;
  margin-top: 8px;
  background: black;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: translateX(-50%);
}

.progress-bar--percent {
  width: 69px;
  height: 32px;
  line-height: 32px;
  background: black;
  border-radius: 16px;
  color: white;
  transform: translateX(-50%);
}

// Maplibre overrides
.maplibregl-control-container .maplibregl-ctrl-bottom-right {
  bottom: 25px;
}

// Component: Legend
.legend-color {
  width: 16px;
  height: 8px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 12px;
}

// Component: Segment
.segment--block {
  * + * {
    margin-top: 0px;
  }
}

.segment--block + .segment--block {
  margin-top: 20px;
}

.segment--status-ruler {
  width: 100%;
  height: 10px;
  border-radius: 6px;
}

// Component: About
.vif-container--about {
  padding-bottom: 150px;
}

.vif-about--logo {
  margin-inline: auto;
  width: 128px;
}
