@import "~bulma/bulma";
@import "@fortawesome/fontawesome-free/css/all.css";

.segment-status-ruler {
  width: 100%;
  height: 12px;
  border-radius: 6px;
}

@media screen and (min-width: 960px) {
  .cocarto-main {
    display: grid;
    grid-template-columns: 1fr 390px;
  }
}

@media screen and (max-width: 960px) {
  .cocarto-panel {
    border-top: solid 1px #d8d7d3;
  }
}
@media screen and (min-width: 960px) {
  .cocarto-panel {
    height: 100vh;
    overflow: scroll;
    border-left: solid 1px #d8d7d3;
  }
}

.container.cocarto-container--narrow {
  max-width: 358px;
}

.cocarto-detail-container {
  border-radius: 20px;
  width: 90%;
  margin-top: -24px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  position: relative;
  background: white;
  padding: 0;
  border: solid 0 #979797;
  box-shadow:
    0 4px 8px #3e73a139,
    0 6px 24px #3e73a137;
}

.cocarto-detail-header {
  background-color: #f7f7f7;
  height: 64px;
  border-bottom: solid 0 #9f9e9e;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0;
}

.close-button {
  color: black;
}

.route-code-level {
  margin-top: -32px;
}

.route-code {
  border-top: solid 1px #9f9e9e;
  border-bottom: solid 1px #9f9e9e;
}

.route-list {
  background-color: RGBA(0, 138, 172, 0.07);
}

.progress-bar {
  height: 46px;
  border-radius: 29px;
  border: solid 6px #eaeae5;
  box-sizing: content-box;
  margin: 16px 16px 8px;
  display: flex;
  flex-direction: row;
}

.progress-bar-part {
  flex-grow: 1;
  margin: 0;
  height: 46px;
}

.progress-bar-part-left {
  border-radius: 23px 0 0 23px;
}

.progress-bar-part-right {
  border-radius: 0 23px 23px 0;
}

.progress-bar-pointer {
  width: 17px;
  height: 8px;
  background: black;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: translateX(-50%);
}

.progress-bar-percent {
  width: 69px;
  height: 32px;
  line-height: 32px;
  background: black;
  border-radius: 16px;
  color: white;
  transform: translateX(-50%);
}

@media screen and (max-width: 960px) {
  .region-stats {
    margin-top: -46px;
  }
}

.region-stats {
  z-index: 1000;
  position: relative;
  padding-top: 0;
}

.maplibregl-control-container .maplibregl-ctrl-bottom-right {
  bottom: 25px;
}

.legend-color {
  width: 16px;
  height: 8px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 12px;
}

.cocarto-legends-container {
  width: 249px;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px #c3c1b9;
}

.rounded-border {
  border: solid 1px #cfcfcf;
  border-radius: 24px;
  background-color: white;
}

.route-list-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.route-button {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  background-color: #fafafa;
  border: solid 1px #c3cbcc;
  outline: 5px solid RGBA(0, 0, 0, 0.03);
}

.route-button:hover {
  border: solid 1px RGBA(74, 210, 255, 0.42);
  outline: 5px solid RGBA(0, 130, 173, 0.13);
}

.route-button:active {
  border: solid 1px RGB(0, 130, 173);
  outline: 5px solid RGBA(0, 130, 173, 0.13);
}
